*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    margin-top: 50px;
}
.Main{
    width: 95%;
    height: auto;
    margin: 20px 0px;
    margin-left: 20px;
}
/* Left */
.Main .Left{
    width: 100%;
    height: auto;
}
.Main .Left .LeftChild{
    width: 100%;
    height: 300px;
    border: 2px solid rgb(161, 83, 83);
    padding: 0px;
    margin: 0px;
}
.Main .Left .LeftChild .get{
    width: 100%;
    height: 300px;
    background: aquamarine;
    text-align: center;
    line-height: 300px;
    color: black;
    font-size: 4em;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
.Main .Right{
    width: 100%;
    height: auto;
}
.Main .Right .RightChild{
    width: 100%;
    height: 300px;
    border: 2px solid rgb(161, 83, 83);
    padding: 0px;
    margin: 0px;
}
.getNew{
    width: 100%;
    height: 300px;
    background: aquamarine;
    text-align: center;
    line-height: 300px;
    color: black;
    font-size: 4em;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
}